DOCTYPE
html 
head

    link(rel="stylesheet" href="style.css")
    
body
    #welcomeBox
        h1 Welcome to Kenziegram!

    form(method="post" action="/upload" enctype="multipart/form-data")
        label(for="file") Choose a picture
        input(type="file" id="file" name="myFile")
        button(type="submit") Upload Picture

#pictureBox
    each image in images
        img(src=`./uploads/${image}`, alt="")
script(src="main.js")